// Specific CSS for your home-page
// .banner {
//   align-items: center;
//   background-color: black;
//   background-image: url(stars.png);
//   color: white;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   min-height: 115vh;
//   text-align: center;
//   width: 100%;

// }

.triangle-container {
  width: 90vw;
  margin-top: 50px;
}

.triangle {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.section-one {
  width: 75px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.section-two {
  width: 53px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.section-three {
  width: 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.section-four {
  width: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.circle {
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;

  &:hover {
    box-shadow: 5px white;
  }
}

.banner-background {
  align-items: center;
  background-color: black;
  background-image: url(one.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 450vh;
  text-align: center;
  width: 100%;
}
  .body {
    margin-bottom: 250px;
    // overflow-y: scroll;
    max-height: 1000px;
    width: 105vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    margin-bottom: 40px;
    margin-top: 50px;
    font-size: 50px;
    font-weight: lighter;
    text-indent: 40px;
    letter-spacing: 40px;
  }

  img {
    height: 400px;
  }

.section-wrapper {
  width: 485px;
  margin: 100px 0;

  h2 {
    border: 1px white;
    border-style: solid none;
    font-size: 30px;
    padding: 25px 0px;
    text-indent: 10px;
    letter-spacing: 10px;
    margin-bottom: 50px;
  }

  p {
    font-weight: lighter;
    line-height: 40px;
  }
}

.btn {
  width: 150px;
  border: 1px solid white;
  padding: 10px 15px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  background-color: black;
    &:hover {
      background: white;
      color: black;
      transition: background 0.3s ease;
    }
}
