<div class="banner" >
  <div class="title_wrapper">
    <div class="title"><p>PATTON</p></div>
    <div class="button_wrapper">
      <a href="/about" class="button_main">CONTACT</a>
    </div>
  </div>
</div>
<div class="banner banner-black">
  <div class="test">
    <p>Hello World</p>
  </div>
  <div class="test">
    <p>Hello World</p>
  </div>
</div>
