.banner-background
  .triangle-container
    .triangle
      .section-one
        .circle{"data-aos" => "fade-up"}
        .circle{"data-aos" => "fade-up"}
        .circle{"data-aos" => "fade-up"}
        .circle{"data-aos" => "fade-up"}
      .section-two
        .circle{"data-aos" => "fade-up"}
        .circle{"data-aos" => "fade-up"}
        .circle{"data-aos" => "fade-up"}
      .section-three
        .circle{"data-aos" => "fade-up"}
        .circle{"data-aos" => "fade-up"}
      .section-four
        .circle{"data-aos" => "fade-up"}

  .header
    .title
      PATTON
    %a.btn CONTACT
    .div
      = image_tag ("portrait.png")
  .body
    .section-wrapper
      %h2
        HELLO
      %p{"data-aos" => "fade-up", "data-aos-duration" => "3000"}
        I’m a business strategy professional turned web designer and developer. I can help you market, design, and launch your freelance website, blog, or startup MVP.
